smart_agriculture_node_red.json
[{"id":"1d4e785d.714f28","type":"tab","label":"Smart Agriculture","disabled":false,"info":""},{"id":"5a0ee670.350ca8","type":"ibmiot in","z":"Ratnb?zW(GTEkX5Zi-","authentication":"apiKey","apiKey":"a-udu0lp-vbjegukzj1","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1002","applicationId":"","deviceType":"device","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":210,"y":180,"wires":[["a56b6614.447138","402dc864.be7ef8","cb534a81.e25048"]]},{"id":"3962f2ad.d9799e","type":"debug","z":"1d4e785d.714f28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":300,"wires":[]},{"id":"a56b6614.447138","type":"function","z":"1d4e785d.714f28","name":"Soil Moisture","func":"global.set('moist',msg.payload.soil_moisture)\nmsg.payload=msg.payload.soil_moisture\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":120,"wires":[["3962f2ad.d9799e","328cb4df.47e3bc","79799521.1148fc"]]},{"id":"402dc864.be7ef8","type":"function","z":"1d4e785d.714f28","name":"humidity","func":"global.set('hum',msg.payload.humidity)\nmsg.payload=msg.payload.humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":180,"wires":[["3962f2ad.d9799e","fabc5a45.b77398"]]},{"id":"cb534a81.e25048","type":"function","z":"1d4e785d.714f28","name":"Temperature","func":"global.set('temp',msg.payload.temperature)\nmsg.payload=msg.payload.temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":240,"wires":[["3962f2ad.d9799e","1aff0476.5edf5c"]]},{"id":"328cb4df.47e3bc","type":"ui_gauge","z":"1d4e785d.714f28","name":"","group":"a0c9b3b3.f4cca","order":4,"width":14,"height":8,"gtype":"gage","title":"Soil moisture","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ff0505"],"seg1":"","seg2":"","x":590,"y":120,"wires":[]},{"id":"1aff0476.5edf5c","type":"ui_chart","z":"1d4e785d.714f28","name":"","group":"a0c9b3b3.f4cca","order":20,"width":20,"height":7,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":590,"y":240,"wires":[[]]},{"id":"fd438d9f.9cd96","type":"ibmiot out","z":"Ratnb?zW(GTEkX5Zi-","authentication":"apiKey","apiKey":"a-udu0lp-vbjegukzj1","outputType":"cmd","deviceId":"67890","deviceType":"Device1","eventCommandType":"cmd","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":560,"y":460,"wires":[]},{"id":"64f9f3c9.447aac","type":"ui_button","z":"1d4e785d.714f28","name":"","group":"a0c9b3b3.f4cca","order":1,"width":10,"height":1,"passthru":false,"label":"MOTOR ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":350,"y":460,"wires":[["fd438d9f.9cd96","34702b4b.791ac4"]]},{"id":"b736b8de.4fb5f8","type":"ui_button","z":"1d4e785d.714f28","name":"","group":"a0c9b3b3.f4cca","order":2,"width":10,"height":1,"passthru":false,"label":"MOTOR OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":340,"y":520,"wires":[["fd438d9f.9cd96","34702b4b.791ac4"]]},{"id":"34702b4b.791ac4","type":"debug","z":"1d4e785d.714f28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":520,"wires":[]},{"id":"fabc5a45.b77398","type":"ui_chart","z":"1d4e785d.714f28","name":"","group":"a0c9b3b3.f4cca","order":21,"width":20,"height":7,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":580,"y":180,"wires":[[]]},{"id":"da0db03f.e18b2","type":"http in","z":"1d4e785d.714f28","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":200,"y":420,"wires":[["2809e3dc.165a9c"]]},{"id":"1f9b036c.e1580d","type":"http response","z":"1d4e785d.714f28","name":"","statusCode":"","headers":{},"x":550,"y":420,"wires":[]},{"id":"2809e3dc.165a9c","type":"function","z":"1d4e785d.714f28","name":"data","func":"msg.payload={\n    \"temperature\":global.get('temp'),\n    \"humidity\":global.get('hum'),\n    \"moisture\":global.get('moist')\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":420,"wires":[["1f9b036c.e1580d"]]},{"id":"97e5f00.48b0c1","type":"http in","z":"1d4e785d.714f28","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":340,"y":580,"wires":[["fd438d9f.9cd96","a357a4eb.e5cef8","34702b4b.791ac4"]]},{"id":"a357a4eb.e5cef8","type":"http response","z":"1d4e785d.714f28","name":"","statusCode":"","headers":{},"x":550,"y":580,"wires":[]},{"id":"9a02d082.05e5c","type":"http request","z":"1d4e785d.714f28","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=gNYhnkTEm37FPDp26SvbjrQ5ysUw9Cl0ecaABXduZH1Gx8ztqIhIXaYnVLO7ps1P8KvtiN9BCDHR5ruJ&message=Less%20soil%20Moisture%20detected--%20{{payload}}%20percentage&language=english&route=q&numbers=868869926","tls":"","persist":false,"proxy":"","authType":"","x":440,"y":360,"wires":[["8820e557.1b5d58"]]},{"id":"79799521.1148fc","type":"switch","z":"1d4e785d.714f28","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"20","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":300,"wires":[["9a02d082.05e5c"]]},{"id":"8820e557.1b5d58","type":"debug","z":"1d4e785d.714f28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":660,"y":360,"wires":[]},{"id":"3cf31d49.482212","type":"ibmiot","name":"newapi","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"a0c9b3b3.f4cca","type":"ui_group","name":"Iot UI","tab":"3f6de10d.d2841e","order":1,"disp":true,"width":20,"collapse":false},{"id":"3f6de10d.d2841e","type":"ui_tab","name":"New dashboard","icon":"dashboard","order":17,"disabled":false,"hidden":false}]